body {
    background: rgba(241, 241, 241, 255);
  }

.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: Fixed (1,440px);
    height: Hug (56px);
    padding: 12px;
    margin: -9px;
}
.logo-mobile{
    display: none;
}
.search-bar{
    background: #303030;
    width: 400px;
    height: Fixed (32px);
    padding: 8px;
    border-radius: 8px;
    border: 1px solid transparent;
    gap: 6px;    
} 

.search-bar:hover {
    border-color: white;
}

.icon-img    {
    width: 13px;
    height: 13px;
    top: 3.5px;
    left: 3.5px;
    filter: invert(1) brightness(100) sepia(100%) hue-rotate(0deg) saturate(0%) contrast(100%) drop-shadow(0px 0px 0px #B5B5B5);

}
.icon-text{
   font-family: Inter;
   font-size: 13px;
   font-weight: 500;
   line-height: 18px;
   letter-spacing: 0em;
   text-align: left;
   color: #B5B5B5;
   
}

.frame-5{
    width: Fill (464px);
    height: Hug (32px);
    gap: 8px;
    padding: 5px;
}
.tag{
    background: #303030;
    width: 20px;
    height: 20px;
    padding: 8px;
    border-radius: 8px;
    gap: 8px;
    
}
.tag:hover{
    background: #616161;
}
.tag-color{
    filter: invert(1) brightness(100);
    width: 13.85px;
    height: 14.5px;
    top: 3px;
    left: 3.08px;
}
.logo-text{
font-family: Inter;
font-size: 12px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
width: 20px;
height: 20px;
background: #303030;
padding: 8px;
border-radius: 8px;
gap: 8px;
text-decoration: none;
}

.logo-text:hover {
    background: #616161;
}

.span-text{
    filter: invert(1) brightness(100);
}
.dc{
    background-color: #36FBA1;
    padding: 5px;
    gap: 8px;
    width: 280px;
    height: 28px;
    border-radius: 6px;
}
.dc-text{
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #00000066;
}
/* logo-menu */
.logo-menu{
  position: fixed;
  width: 250px;
  padding: 40px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: auto;
  margin-top: 20px;

  top: 90px;
  left: 1104px;
  border-radius: 14px;
  border: 1px;
  gap: 4px;
  background: white;
}
.logo-menu span{
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    display: flex;
}
.logo-menu span:hover{
    background: linear-gradient(0deg, #DBDBDB, #DBDBDB),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.logo-dc-menu{
    width: Fill (308px);
    height: Hug (36px);
    padding: 4px, 12px, 4px, 8px;
    border-radius: 8px;
    justify-content: space-between;
    background: linear-gradient(0deg, #DBDBDB, #DBDBDB),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
}
.logo-dc{
    width: 280px;
    height: 28px;
    padding: 5px;
    border-radius: 5.25px;
    background: #36FBA1;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #00000066;
}
.logo-dc-text{
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    
}
.frame-8{
    width: Hug (141px);
    height: Hug (28px);
    gap: 8px;

}
.hr {
    border-bottom: 1px solid black;
    width: 250px;
  }
  /* notificantion-menu */
.notificantion-menu{
    position: fixed;
    width: 360px;
    padding: 40px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: Hug (383px);
    height: Hug (118px);
    top: 90px;
    left: 1041px;
    padding: 16px;
    border-radius: 14px;
    border: 1px;
    gap: 16px;
    background: white;
    border: 1px solid #DBDBDB
}
.notificantion-text{
    display: flex;
    justify-content: space-between;

}
.notificantion-icon{
        filter: invert(1) brightness(0) saturate(100%) hue-rotate(180deg);
}
.notificantion-menu p{
    width: Hug (351px);
    height: Hug (50px);;
    padding: 16px;;
    gap: 8px;
    background: linear-gradient(0deg, #DBDBDB, #DBDBDB),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

/* select plan */
.section {
    width: Hug (800px);
    height: Hug (178px);
    top: 88px;
    left: 320px;
    gap: 16px;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.select-plan2{
       display: none;
}
.select-plan{
    width: Fixed (800px);
    height: Hug (56px);
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    background: #1A1A1A;
    width: 700px;
    gap: 6px; 

}
.plan-text{
    width: 369px;
    height: 18px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #E3E3E3;
    
}
.plan-frame{
    width: Hug (139px);
    height: Hug (32px);
    gap: 8px;
    padding: 4px;
    display: flex;
}
.plan-button{
    width: Hug (99px);
    height: Hug (28px);
    padding: 6px;
    border-radius: 6px;
    border: 1px;
    gap: 8px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}
.plan-img{
    width: Hug (32px);
    height: Hug (32px);
    padding: 5px;
    border-radius: 6px;
    gap: 8px;
    filter: invert(1) brightness(100) sepia(100%) hue-rotate(0deg) saturate(0%) contrast(100%) drop-shadow(0px 0px 0px #B5B5B5);
}

/* setup guide */
.second-section{
    width: Hug (800px);
    height: Hug (178px);
    top: 88px;
    left: 320px;
    gap: 16px;
    display: flex;
    display: none;
    justify-content: center;
    padding: 3px;
}
.setup-menu{
    width: Fixed (800px);
    height: Hug (56px);
    padding: 15px;
    border-radius: 15px;
    justify-content: space-between;
    display: flex;
    /* justify-content: center; */
    width: 700px;
    gap: 6px; 
    background: white;
}
.setup-guide{
    width: Hug (376px);
    height: Hug (74px);
    gap: 16px
    
}
.setup-guide-frame{
    width: Fill (784px);
    height: Hug (90px);
    justify-content: space-between;
}
.setup-text{
    width: 82px;
    height: 20px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #303030;
}
.setup-p{
    width: 376px;
    height: 18px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #303030;
}
.setup-score{
    display: flex;
    align-items: center;
}
.setup-span{
    width: 88px;
    height: 16px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #303030;
}
.setup-line{
    width: 70px;
    height: 4px;
    padding: 0px, 52px, 0px, 0px;
    border-radius: 28px;
    background: #E3E3E3;
    flex-grow: 0;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}
.setup-icon{
    display: flex;
    position: relative;
    justify-content: right;
    margin-top: -40px; 
    margin-right: 25px;  
}
.setup-icon2{
    display: flex;
    position: relative;
    justify-content: right;
     margin-top: -130px;
}
.setup-img{
    width: Hug (32px);
    height: Hug (32px);
    padding: 40px;
    border-radius: 6px;
    gap: 8px;
}
.setup-img2{
    width: Hug (32px);
    height: Hug (32px);
    padding: 40px;
    border-radius: 6px;
    gap: 8px;
    top: 0;
    left: 0;
}
/* setup guide 2 */
.second-section2{  
    width: Hug (800px);
    height: Hug (178px);
    top: 88px;
    left: 320px;
    gap: 16px;
    display: flex;
    justify-content: center;
    padding: 3px;
    border-radius: 18px;
    border: 1px;
    gap: 16px

}
/* setup guide main */
.setup-guide-main {
   display: flex;
   Width: Fill (784px);
   height: Hug (141px);
   padding: 2px;
   border-radius: 10px;
   gap: 5px;
   background: rgb(243, 243, 243);
   /* margin-top: 50px; */
}
.setup-guide-heading2-icon,
.setup-guide-heading2-addDomain,
.setup-guide-heading2-store,
.setup-guide-heading2-provider,
.setup-guide-heading2-addProduct{
    filter: invert(1) brightness(100) sepia(100%) hue-rotate(0deg) saturate(0%) contrast(100%) drop-shadow(0px 0px 0px #B5B5B5);
    width: Hug (24px);
    height: Fill (121px);
    gap: 8px;
    width: 240px;
    height: 55px;
    padding: 2px;
    padding-right: 10px;
    width: 20px;
    top: 2px;
    left: 2px;
    border: 2.08px
}
.setup-guide-main-main{
    width: Fill (483.86px);
    height: Hug (121px);
    padding: 2px, 0px, 2px, 0px;
    gap: 16px;
    /* background: rgb(243, 243, 243); */
    /* left: 320px; */
}
/* .setup-guide-main-{

} */
.setup-guide-main-text{
    width: 176px;
    height: 18px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #303030;
}
.setup-guide-main-p{
    width: 483.86px;
    height: 39px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: linear-gradient(0deg, #005BD3, #005BD3),
    linear-gradient(0deg, #616161, #616161);
}
.setup-guide-main-link{
    text-decoration: none;
    color: blue;
}
.setup-guide-main-button{
    padding: 5px;
}
.setup-guide-main-button-text:hover{
    background: #1A1A1A;
}
.setup-guide-main-button-text{
    gap: 8px;
    padding: 5px;
    border-radius: 10px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #F6F3F6;
    background: #616161;
}
.setup-guide-img{
    width: 156.14px;
    height: 120px;
    
}
/* setup guide heading */
.setup-guide-heading{
    display: flex;
    Width: Fill (784px);
    height: Hug (141px);
    padding-top: px;
    border-radius: 10px;
    gap: 5px;
}
.setup-guide-heading-link{
    text-decoration: none;
}
.setup-guide-heading-icon,
.setup-guide-heading-addDomain,
.setup-guide-heading-store,
.setup-guide-heading-provider,
.setup-guide-heading-addProduct{
    filter: invert(1) brightness(100) sepia(100%) hue-rotate(0deg) saturate(0%) contrast(100%) drop-shadow(0px 0px 0px #8A8A8A); 
    width: Hug (24px);
    height: Fill (24px);
    gap: 8px;
    width: 24px;
    height: 24px;
    padding: 2px;
    padding-right: 10px;
    width: 20px;
    height: 55px;
    top: 2px;
    left: 2px;
    border: 2.08px;
}
/* .setup-guide-heading-icon:hover,
.setup-guide-heading-addDomain:hover,
.setup-guide-heading-store:hover,
.setup-guide-heading-provider:hover,
.setup-guide-heading-addProduct:hover{
        background: #005BD3;

} */
.setup-guide-heading-text {
    width: Fill (736px);
    height: Hug (22px);
    padding: 2px, 0px, 2px, 0px;
    gap: 16px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    width: 174px;
    height: 18px;
    color: #1A1A1A;
}
.setup-guide-heading-icon2,
.setup-guide-heading-addDomain2,
.setup-guide-heading-store2,
.setup-guide-heading-addProduct2,
.setup-guide-heading-provider2{
    filter: invert(1) brightness(100) sepia(100%) hue-rotate(0deg) saturate(0%) contrast(100%) drop-shadow(0px 0px 0px #8A8A8A); 
    width: Hug (24px);
    height: Fill (24px);
    gap: 8px;
    width: 24px;
    height: 24px;
    padding: 2px;
    padding-right: 10px;
    width: 20px;
    height: 55px;
    top: 2px;
    left: 2px;
    border: 2.08px;
    display: none;
}
.setup-guide-heading-icon3,
.setup-guide-heading-addDomain3,
.setup-guide-heading-store3,
.setup-guide-heading-provider3,
.setup-guide-heading-addProduct3{
    width: Hug (24px);
    height: Fill (24px);
    gap: 8px;
    width: 24px;
    height: 24px;
    padding: 2px;
    padding-right: 10px;
    width: 20px;
    height: 55px;
    top: 2px;
    left: 2px;
    border: 2.08px;
    display: none;
}



.setup-guide-heading2-icon2,
.setup-guide-heading2-addDomain2,
.setup-guide-heading2-store2,
.setup-guide-heading2-addProduct2,
.setup-guide-heading2-provider2{
    filter: invert(1) brightness(100) sepia(100%) hue-rotate(0deg) saturate(0%) contrast(100%) drop-shadow(0px 0px 0px #8A8A8A); 
    width: Hug (24px);
    height: Fill (24px);
    gap: 8px;
    width: 24px;
    height: 24px;
    padding: 2px;
    padding-right: 10px;
    width: 20px;
    height: 55px;
    top: 2px;
    left: 2px;
    border: 2.08px;
    display: none;
}
.setup-guide-heading2-icon3,
.setup-guide-heading2-addDomain3,
.setup-guide-heading2-store3,
.setup-guide-heading2-provider3,
.setup-guide-heading2-addProduct3{
    width: Hug (24px);
    height: Fill (24px);
    gap: 8px;
    width: 24px;
    height: 24px;
    padding: 2px;
    padding-right: 10px;
    width: 20px;
    height: 55px;
    top: 2px;
    left: 2px;
    border: 2.08px;
    display: none;
}
.link{
    display: none;
    margin-top: 50px;
}
.main1{
    margin-top: 50px;
}
.main2, .main3, .main4, .main5{
    display: none;
}
/* .main3{

}
.main4{

}
.main5{

} */
@media (max-width: 992px){
    .logo-mobile{
        display: flex;
    }
    .logo-desktop{
        display: none;
    }
    .span-text{
        display: none;
    }
    .setup-guide-main-img{
        display: none;
    }
    .search-bar{
        width: 300px;
    }
    .select-plan2{
        width: Fixed (800px);
        height: Hug (56px);
        padding: 15px;
        justify-content: space-between;
        display: flex;
        background: #1A1A1A;
        gap: 6px; 
        margin-left: -9;
    }
    .section-mobile{ 
        padding-top: 50px;
        padding-bottom: 30px;

    }
    .section{
        display: none;
    }
}